* {
  padding: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: lightseagreen;
  font-family: "Poppins", sans-serif;
}



button {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-weight: bolder;
}

button a{
  text-decoration: none;
  color: lightseagreen;
}



/* Navbar */
nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: lightseagreen;
  color: white;
  padding: 0 2rem;
  position: fixed;
  inset: 0 0 auto;
  align-items: center;
  z-index: 100;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a{
  color: #fff;
  text-decoration: none;
}

.nav-links li {
  padding: 1.5rem 2rem;
}


.logo {
  font-size: 1.5rem;
}

h1 {
  
  font-weight: lighter;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  
}


/* burger menu nav */

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.4s ease;
}

.burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    top: 10vh;
    height: 75vh;
    background-color: rgb(79, 189, 183);
    color: #ffff;
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .logo {
    font-size: 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

nav {
  padding: 0 1.5rem;
}

/* hero */

#hero {
  background-image: url("./images/shrey-kanabar-wha-FXTtyok-unsplash.jpg");
  background-size: auto 100vh;
  background-repeat: no-repeat;
  height: 100vh;
  text-transform: uppercase;
}

.hero-container {
  padding: 1.5rem;
}

#hero h2 {
  color: #fff;
  font-size: 3.5rem;
  background-color: transparent;
  padding-top: 4rem;
}

.hero-btn {
  margin-top: 4rem;
  height: 2.5rem;
  width: 10rem;
  background-color: white;
  border-radius: 5px;
  border: none;
  color: black;
  font-size: 1rem;
}

/* about section */
#about {
  text-align: center;
  line-height: 2rem;
  letter-spacing: 0.5px;
}



h4 {
  font-size: 1.5rem;
}

#about {
  padding-top: 1.5rem;
}
.about-container {
  padding: 1.5rem;
  margin: 1.5rem;
  text-align: center;
  background-color: rgb(79, 189, 183);
  border-radius: 5px;
}
.driver-info {
  text-align: center;
}
.driver-info img {
  border-radius: 50%;
}
.driver-info p {
  padding-top: 1.5rem;
}

/* tours section */

.algarve-description {
  padding: 1.5rem;
  margin: 1.5rem;
  background-color: rgb(79, 189, 183);
  line-height: 2rem;
}

.algarve-description h4 {
  padding: 1rem;
}

#tours {
  text-align: center;
  letter-spacing: 0.5px;
}
.gallery img {
  height: 100%;
  width: 95vw;
  margin: 0.25rem;
}

.gallery {
  text-align: center;
}

/* testimonials section */

#testimonials {
  text-align: center;
  line-height: 1.5rem;
}

.testimonials-container {
  margin: 1.5rem;
}

.testimonial-card {
  background-color: rgb(79, 189, 183);
  margin-bottom: 1rem;
  padding: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}

hr {
  border: 1px solid lightslategray;
}

.testimonial-title {
  padding-top: 1rem;
  font-size: 1.3rem;
  font-weight: bolder;
}

/* footer section  */

footer {
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer h1 {
  text-align: center;
}
#contact {
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
}

footer ul {
  padding: 1.5rem;
  text-align: center;
}

li {
  list-style: none;
}
