* {
  padding: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: lightseagreen;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
nav {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  background-color: lightseagreen;
  color: white;
  padding: 0 1.2rem;
  position: fixed;
  inset: 0 0 auto;
  align-items: center;
  z-index: 100;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links li {
  padding: 1.5rem 2rem;
}

.logo p {
  font-size: 1.5rem;
}

h1 {
  font-weight: bold;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: bold;
}

p {
  opacity: 0.9;
}

/* burger menu nav */

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.4s ease;
}

.burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    top: 7vh;
    height: 75vh;
    background-color: lightseagreen;
    color: #ffff;
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .logo {
    font-size: 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* hero */

#hero {
  background-image: url("./images/shrey-kanabar-wha-FXTtyok-unsplash.jpg");
  background-size: auto 100vh;
  height: 100vh;
  text-transform: uppercase;
}

.hero-container {
  padding: 1.5rem;
}

#hero h2 {
  color: #fff;
  font-size: 3.4rem;
  background-color: transparent;
  padding-top: 4rem;
}



.hero-btn {
  margin-top: 4rem;
  height: 2.5rem;
  width: 10rem;
  background-color: white;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-weight: bolder;
}

button a {
  text-decoration: none;
  color: black;
}

/* cookies */

.container{
  width: 85%;
  margin: auto;
}

.subcontainer{
  width: 85%;
  margin: auto;
}

#cookies{
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: black;
  background-color: #fff;
  z-index: 1;
  display: none;
}

.cookies{
 padding: 1rem;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.cookies a{
  color: lightseagreen;
  font-weight: 500;
  text-decoration: none;
  
}

#cookies-btn{
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: lightseagreen;
  color: #fff;
}

/* about section */
#about {
  text-align: center;
  line-height: 1.7rem;
  letter-spacing: 0.4px;
}

#about {
  padding-top: 3rem;
}
.about-container {
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(79, 189, 183);
  border-radius: 5px;
}
.driver-info img {
  border-radius: 50%;
}
.driver-info p {
  padding-top: 0.5rem;
  opacity: 0.9;
}

/* tours section */

.tour-description {
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(79, 189, 183);
  line-height: 1.7rem;

  text-align: center;
}

.algarve-description h4 {
  padding: 1rem;
}

#tours {
  text-align: center;
  letter-spacing: 0.4px;
  padding-top: 3rem;
}
.gallery img {
  height: 100%;
  width: 95vw;
  margin: 0.25rem;
}

.gallery {
  text-align: center;
}

.more-tours-btn {
  height: 2.5rem;
  width: 15rem;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  font-weight: bolder;
}

/* more tours page */

.tour-page-btns {
  margin-top: 2.9rem;
  position: fixed;
  display: flex;
  z-index: 1;
}

.tour-page-btns button {
  background-color: white;
  height: 3rem;
  width: 25vw;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid lightseagreen;
  border-left: 1px solid lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tour-page-btns button a {
  color: black;
  text-transform: capitalize;
  font-weight: bolder;
  
}

#city-tours {
  padding-top: 6rem;
}

#golf-tours {
  padding-top: 5.5rem;
}

#wine-tours {
  padding-top: 5.5rem;
}

#surf-tours {
  padding-top: 5.5rem;
}

/* testimonials section */

#testimonials {
  text-align: center;
  line-height: 1.5rem;
  padding-top: 3rem;
}

.testimonials-container {
  margin: 1.5rem;
}

.testimonial-card {
  background-color: rgb(79, 189, 183);
  margin-bottom: 1rem;
  padding: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}

hr {
  border: 1px solid lightslategray;
}

.testimonial-title {
  padding-top: 1rem;
  font-size: 1.3rem;
  font-weight: bolder;
}

/* contact section */

#contact {
  padding: 1rem;
  padding-top: 3rem;
}

/* contact form  */
.contact-form {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: flex-start;
  line-height: 2rem;
  margin-top: 1.5rem;
  background-color: lightseagreen;
  color: black;
}

.contact-form input {
  font-size: 1.5rem;
  height: 2rem;
  background-color: lightseagreen;
  border: none;
  border-bottom: 2px solid black;
}

input #name {
  color: black;
}

textarea {
  margin-top: 5px;
  background-color: lightseagreen;
  border: 2px solid black;
  font-size: 1.1rem;
}

.submit-btn {
  margin-top: 5px;
  height: 2rem;
  border-radius: 5px;
  border: none;
  color: black;
  background-color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

/* footer section  */

footer {
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 2rem;
}

footer h1 {
  text-align: center;
}

footer ul {
  padding: 1rem;
  text-align: center;
}

li {
  list-style: none;
}
